/* nav*/

.Header {
  width: 100%;
  height: 7vh;
  background-image: linear-gradient(180deg, #10c537, #04be4c41 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.bg-dark {
  background-color: #0b4e9b !important;
  position: fixed;
  z-index: 50;
  width: 100%;
}

.bg-dark1 {
  background-color: #1aa5e6 !important;
  position: fixed;
  z-index: 50;
  width: 100%;
  border-bottom: 2px solid #422dfd;
}

@media (min-width: 768px) {
  .bg-dark {
    background-color: transparent !important;
  }
}

.naveg a {
  color: rgb(12, 12, 12) !important;
  font-family: "Montserrat";
  font-size: 23px;
  padding: 4px 15px;
  text-align: center;
}

.naveg a:hover {
  background: linear-gradient(160deg, #22c2c3 0%, #fdbb2d 100%);
  border-radius: 5%;
}

.Text-hero {
  height: 550px;
  color: #fff;
  font-family: "Rajdhani";
  padding-top: 190px;
}

.Text-hero h3,
h5 {
  font-size: 70px;
  letter-spacing: 0.2em;
  font-weight: bold;
  display: flex;
}

@media (max-width: 500px) {
  .Text-hero h3,
  h5 {
    font-size: 47px;
  }
}

.Text-hero a {
  font-family: "Montserrat";
  color: rgb(92, 30, 30) !important;
  font-size: 23px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-radius: 5%;
  background: linear-gradient(160deg, #22c3c3bb 0%, #fdbb2db0 100%);
}

.Text-hero a:hover {
  background: linear-gradient(160deg, #22c2c3 0%, #fdbb2d 100%);
}

footer {
  background: #1b2a4e;
  min-height: 100px;
}
footer p {
  color: #f3f3f3;
  text-align: center;
}
#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3;
}

/*termina nav*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #10c537;
 
}

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

#map {
	height: 500px;
	width: 100%;
}
