
/* nav*/

.Header {
  width: 100%;
  height: 7vh;
  background-image: linear-gradient(180deg, #10c537, #04be4c41 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.bg-dark {
  background-color: #10c537 !important;
  position: fixed;
  z-index: 50;
  width: 100%;
}

.bg-dark1 {
  background-color: #1aa5e6 !important;
  position: fixed;
  z-index: 50;
  width: 100%;
  border-bottom: 2px solid #351ffa;
}

@media (min-width: 768px) {
  .bg-dark {
    background-color: transparent !important;
  }
}

.naveg a {
  color: rgb(12, 12, 12) !important;
  font-family: "Montserrat";
  font-size: 23px;
  padding: 4px 15px;
  text-align: center;
}

.naveg a:hover {
  background: linear-gradient(160deg, #09d5f0 0%, hsl(46, 87%, 42%) 100%);
  border-radius: 5%;
}

.Text-hero {
  height: 550px;
  color: #fff;
  font-family: "Rajdhani";
  padding-top: 190px;
}

.Text-hero h3,
h5 {
  font-size: 70px;
  letter-spacing: 0.2em;
  font-weight: bold;
  display: flex;
}

@media (max-width: 500px) {
  .Text-hero h3,
  h5 {
    font-size: 47px;
  }
}

.Text-hero a {
  font-family: "Montserrat";
  color: rgb(92, 30, 30) !important;
  font-size: 23px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-radius: 5%;
  background: linear-gradient(160deg, #22c3c3bb 0%, #fdbb2db0 100%);
}

.Text-hero a:hover {
  background: linear-gradient(160deg, #22c2c3 0%, #fdbb2d 100%);
}

/*termina nav*/


@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #f1e3e3;
  position: relative;
}

#menu a,
button {
  font-size: 18px !important;
  font-weight: 600;
}

#menu a {
  color: #1b833a;
}

.carousel-inner {
  max-height: 65rem !important;
}

#img-equipo {
  max-height: 30rem !important;
  width: 50%;
}
:root {
  --primario: #2ce6077a;
  --secundario: #ec9b3b;
}

.titulo span {
  color: #f7be16;
}


.imagen-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imagen-principal {
  background-image: url(../img/imagen1.jpg);
  height: 35rem;
}

.categorias h2 {
  font-size: 2.5rem;
  color: #121312;
}
.categorias a {
  font-weight: 400;
  color: #272121;
  text-decoration: none;
}

.nosotros .img-nosotros {
  min-height: 30rem;
}

.img-nosotros {
  background-image: url(../img/cuidemos.jpg);
}

footer {
  background: #1b2a4e;
  min-height: 100px;
}
footer p {
  color: #f3f3f3;
  text-align: center;
}
#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3;
}

/* finde del google maps pirata  */
#map {
	height: 500px;
	width: 100%;
}

